
/* Notification component animation */
@keyframes slide-in-right {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .animate-slide-in-right {
     animation: slide-in-right 0.8s ease-out;
  }
  